// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #fff;
$bg: #f3f3fe;
$black: #151515;
$black2: #1d1d1d;
$dark-grey: #2f2f2f;
$gray: #ccc;
//$light-gray: #b1b1b1;
$green: #57bd84;

$modal-bg: #151515d3;

$laptop: 1055px;
$tablet: 885px;
$mobile: 500px;

$news-box: #E2E6E9;
$news-white: #d9d9d9;

$news-width-0: 890px;
$news-width-1: 750px;
$news-width-2: 550px;
$news-width-3: 515px;
$news-width-4: 430px;
$news-width-5: 415px;
$news-width-6: 400px;

$accent: #151515;
$module-width: 320px;$dark-gray: lighten($black, 20%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);