.table {
    a {
        text-decoration: none;
        color: $black;

        &:hover{
            color: $black;
            cursor: pointer;
        }
    }
}

.img-uploaded {
    display: block;
    width: 30rem;
}