.container {
    width: 100%;
    min-height: 84vh;
    max-width: 120rem;
    padding: 0 .8rem;
    margin: 7rem auto 1rem;
    overflow-y:auto;   
    flex-grow: 1;

    & .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}