@import url('https://fonts.googleapis.com/css?family=Muli');

.nav {
    display: flex;
    font-size: 1.4rem;
    text-transform: uppercase;


    @media (max-width: $tablet) {
        display: none;
        width: 40%;
        height: 115vh;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $black;
        
        &.active{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        & .dropdown-language {
            top: 3.3rem;
            left: 19%;
            width: 70%;

            @media (max-width: $news-width-4) {
                & {
                    font-size: 1.2rem;
                }

                a {
                    padding: .8rem;
                }
            }
        }
    }
}

.nav__link {
    display: flex;
    padding: 1rem;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    color: $white;
    text-decoration: none;

    transition: color .1s linear;
    transition: background-color .1s linear;

    & a {
        line-height: 1;
    }

    &:hover:not(.social__link, #search, .language),
    &.active {
        background-color: $white;
        color: $black;
    }

    & form{
        position: relative;
        width: 30rem;
        background: $green;
        border-radius: .7rem;
    }

    & input, button {
        height: 3rem;
        font-family: 'Lato', sans-serif;
        border: 0;
        color: $dark-grey;
        font-size: 1.8rem;
    }

    & input[type="search"] {
        outline: 0;
        width: 12rem;
        background: $white;
        padding: 0 1.6rem;
        border-radius: .7rem;
        appearance: none;
        transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
        transition-property: width, border-radius;
        z-index: 1;
        position: relative;

        @media(max-width: $news-width-4){
            width: 10rem;
        }
    }

    & button {
        display: none;
        position: absolute;
        top: 1rem;
        right: 0;
        width: 6rem;
        font-weight: bold;
        background: $green;
        border-radius: 0 .7rem .7rem 0;
        z-index: 1000;
    }

    & input:not(:placeholder-shown) {
        border-radius: .7rem 0 0 .7rem;
        width: calc(100% - 6rem);
    }

    & input:not(:placeholder-shown) + button {
        display: block;
    }

    & label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    &--btn{
            border: .2rem solid $white;
            border-radius: 3rem;
            transition: background-color .2s linear, color .2s linear;
    
            &:hover {
                background-color: $black;
                color: $white;
            }
    }

    @media (max-width: $tablet) {
        display: block;
        width: 85%;
        align-content: center;
        margin: 0;

        &--btn{
            margin-top: 14rem;
        }
    }
}



/* Nav toggle */
.nav-toggle {
    width: 3rem;
    padding: 1rem 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 2.1rem;
    right: 2.4rem;
    z-index: 1;
    
    &:focus {
        outline: 0;
    }
    
    &.active .nav-toggle__item {
            background: none;
        
            &:before {
                transform-origin: left top;
                transform: rotate(45deg) translate3d(0px, -2px, 0);
            }

            &:after {
                transform-origin: left bottom;
                transform: rotate(-45deg) translate3d(0px, 3px, 0);
            }
        
    }

    @media (max-width: $tablet) {
        display: block;
    }
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: .3rem;
    background-color: $white;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: .3rem;
        background-color: $white;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .2s linear;
    }

    &:before {
        top: -.8rem;
    }

    &:after {
        bottom: -.8rem;
    }
}  

// Language dropbox

.language {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    color: $white;

    & img {
        margin-right: .3em;
    }


    &:hover{
        .dropdown-language {
            display: block;
        }
    }
  }
  
  .dropdown-language {
    display: none;
    position: absolute;
    top: 4rem;
    left: -1.5rem;
    background: $white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    z-index: 1000000;
  
    & a {
        color: $black;
        padding: 1.5rem;
        text-decoration: none;
        display: block;
        
        &:hover {
            color:$gray;
        }
    }
}
  .show {display: block;}


//Telegram button
.social__link {
    margin: 0;

    & img{
        width: 2.5rem;
        height: 2.5rem;
    }
}