@import url(https://fonts.googleapis.com/css?family=Muli);
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3fe;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.5;
  color: #151515;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header.fixed {
  padding: 1rem 0;
  background-color: #151515;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}
.header.active {
  background-color: #151515;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.header__logo:hover {
  color: #fff;
}

.nav {
  display: flex;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media (max-width: 885px) {
  .nav {
    display: none;
    width: 35%;
    height: 115vh;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #151515;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.nav__link {
  display: flex;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s linear;
  transition: background-color 0.1s linear;
}
.nav__link a {
  line-height: 1;
}
.nav__link:hover:not(.social__link, #search), .nav__link.active {
  background-color: #fff;
  color: #151515;
}
.nav__link form {
  position: relative;
  width: 30rem;
  background: #57bd84;
  border-radius: 0.7rem;
}
.nav__link input, .nav__link button {
  height: 3rem;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
}
.nav__link input[type=search] {
  outline: 0;
  width: 12rem;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
@media (max-width: 430px) {
  .nav__link input[type=search] {
    width: 10rem;
  }
}
.nav__link button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 0.7rem 0.7rem 0;
  z-index: 1000;
}
.nav__link input:not(:-moz-placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.nav__link input:not(:-ms-input-placeholder) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.nav__link input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
}
.nav__link input:not(:-moz-placeholder-shown) + button {
  display: block;
}
.nav__link input:not(:-ms-input-placeholder) + button {
  display: block;
}
.nav__link input:not(:placeholder-shown) + button {
  display: block;
}
.nav__link label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.nav__link--btn {
  border: 0.2rem solid #fff;
  border-radius: 3rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #151515;
  color: #fff;
}
@media (max-width: 885px) {
  .nav__link {
    display: block;
    width: 85%;
    align-content: center;
    margin: 0;
  }
  .nav__link--btn {
    margin-top: 14rem;
  }
}

/* Nav toggle */
.nav-toggle {
  width: 3rem;
  padding: 1rem 0;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 2.1rem;
  right: 2.4rem;
  z-index: 1;
}
.nav-toggle:focus {
  outline: 0;
}
.nav-toggle.active .nav-toggle__item {
  background: none;
}
.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0);
}
.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
@media (max-width: 885px) {
  .nav-toggle {
    display: block;
  }
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}
.nav-toggle__item:before, .nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}
.nav-toggle__item:before {
  top: -0.8rem;
}
.nav-toggle__item:after {
  bottom: -0.8rem;
}

.sl-nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  width: 7rem;
  text-align: center;
  margin: 0;
  color: #fff;
  z-index: 100000;
}
.sl-nav img {
  padding: 0 0.5rem 0.8rem 0;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  top: -0.3rem;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav:hover ul li ul {
  position: absolute;
  top: 2.9rem;
  left: -6rem;
  display: block;
  width: 13.5rem;
  padding-top: 0;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.sl-nav li {
  cursor: pointer;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: #fff;
  padding: 1.5rem 1.5rem;
  padding-bottom: 0;
  z-index: 2;
  font-size: 1.5rem;
  color: #151515;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 1.5rem;
}
.sl-nav li ul li span {
  padding-left: 0.5rem;
}
.sl-nav li ul li span:hover, .sl-nav .sl-nav li ul li span.active {
  color: #ccc;
}
.sl-nav li ul li a {
  padding-left: 0.5rem;
}
.sl-nav li ul li a:hover, .sl-nav .sl-nav li ul li a.active {
  color: #ccc;
}

.social__link {
  margin: 0;
}
.social__link img {
  width: 2.5rem;
  height: 2.5rem;
}

.container {
  width: 100%;
  min-height: 84vh;
  max-width: 120rem;
  padding: 0 0.8rem;
  margin: 7rem auto 1rem;
  overflow-y: auto;
  flex-grow: 1;
}
.container .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--white {
  border: 2px solid #fff;
  border-radius: 2rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.btn--white:hover {
  background-color: #fff;
  color: #151515;
}

.btn--black {
  border: 2px solid #151515;
  border-radius: 2rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.btn--black:hover {
  background-color: #151515;
  color: #fff;
}

.charity {
  margin: 8.4rem 0 0 1.5rem;
}
@media (max-width: 1055px) {
  .charity {
    margin: 8rem 0;
  }
}
.charity__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 109rem;
  margin: 5rem;
}
.charity__photo, .charity__content {
  width: 50%;
}
@media (max-width: 1055px) {
  .charity__photo, .charity__content {
    width: 100%;
  }
}
.charity__photo {
  position: relative;
  overflow: hidden;
  width: 50rem;
  height: 32rem;
}
.charity__photo img {
  position: absolute;
  bottom: 0;
  z-index: 2;
  min-height: 100%;
}
@media (max-width: 500px) {
  .charity__photo img {
    height: 100%;
  }
}
@media (max-width: 1055px) {
  .charity__photo {
    order: 1;
    width: 100%;
  }
  .charity__photo:before {
    width: 100%;
    left: 0;
  }
  .charity__photo img {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}
.charity__content {
  padding-left: 2.5rem;
}
.charity__content--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1055px) {
  .charity__content {
    order: 2;
    margin-top: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.charity__title {
  font-size: 3rem;
  color: #151515;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1055px) {
  .charity__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 885px) {
  .charity__title {
    font-size: 2rem;
  }
}
.charity__text {
  margin: 1.5rem 0 2.5rem;
  font-size: 1.6rem;
  line-height: 1;
  color: #151515;
  font-weight: 300;
}
.charity__btn {
  display: block;
  text-transform: uppercase;
  width: 45%;
  padding: 10px;
  text-align: center;
  position: relative;
  color: #151515;
}
@media (max-width: 500px) {
  .charity__btn {
    width: 100%;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #151515d3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.modal__close {
  width: 34px;
  height: 39px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  z-index: 1;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #151515;
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.currency-amount {
  width: 90%;
  margin: 0 1rem;
}

.currency-addon {
  display: flex;
  flex-direction: row;
  text-align: left;
  position: relative;
}

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-header {
  padding-top: 2rem;
}

.anonimously {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anonimously h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.pagination {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}
.pagination a {
  color: black;
  float: left;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pagination a .active {
  background-color: #151515;
  color: #fff;
  border: 1px solid #151515;
}
.pagination a:hover:not(.active) {
  background-color: #ccc;
}

.page__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 4rem auto;
}

.shelters {
  margin-bottom: 4rem;
}

.accordion__item {
  margin-bottom: 1rem;
  border: 2px solid #aeaeae;
}
.accordion__item.active .accordion__content {
  display: block;
}
.accordion__item.active .accordion__header {
  border-bottom-color: #aeaeae;
}
.accordion__item.active .accordion__header:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 0.5rem;
}

.accordion__header {
  padding: 1.5rem 2rem 1.5rem 6.5rem;
  position: relative;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.accordion__header:after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-top: 2px solid #b1b1b1;
  border-right: 2px solid #b1b1b1;
  position: absolute;
  top: 50%;
  right: 2rem;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}

.accordion__content {
  padding: 1.5rem 2rem;
  display: none;
}
.accordion__content iframe {
  width: 100%;
  height: 50rem;
}

.accordion__title {
  font-size: 1.8rem;
  color: #151515;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: row;
  font: 1.1rem Verdana;
  margin-top: 7rem;
}
.wrapper a {
  cursor: pointer;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: none;
}
@media (max-width: 400px) {
  .wrapper a {
    font-size: 0.5em;
  }
}
.wrapper .box {
  background-color: #E2E6E9;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 750px) {
  .wrapper .box h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 430px) {
  .wrapper .box h2 {
    font-size: 1rem;
  }
}
.wrapper .title {
  color: #151515;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}
.wrapper h2 {
  color: #151515;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.wrapper img {
  border: 0;
}
.wrapper .break {
  font-size: 0;
  width: 0;
  height: 0;
  clear: both;
}
.wrapper .alignleft {
  float: left;
  margin: 0.4rem 1rem 0.5rem 0;
}
.wrapper .alignright {
  float: right;
  margin: 0.4rem 0 0.5rem 1rem;
}
.wrapper .aligncenter {
  text-align: center;
}
.wrapper .hidden {
  display: none;
}

/** BEGIN left sidebar **/
#lsidebar {
  width: 20%;
  float: left;
  margin: 0 0.5rem 1rem 0;
  padding: 0.5rem;
  padding-left: 0;
}
#lsidebar .box {
  background: #fff;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #E2E6E9;
}
#lsidebar .box h2 {
  text-align: center;
  font-weight: 700;
  padding: 0.6rem 0 1rem;
  font-size: inherit;
}
#lsidebar .box ul {
  list-style-type: none;
  padding: 0.2rem 0.2rem 1rem;
}
#lsidebar .box ul li {
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #DDDDDD;
  padding: 0.5rem 0;
}
#lsidebar .box ul li a {
  color: #808080;
  text-decoration: none;
}
#lsidebar .box ul li a:hover {
  color: #151515;
}

/** END left sidebar **/
/** BEGIN content **/
#content {
  width: 55%;
  float: left;
  margin: 0.5rem 0;
}
@media (max-width: 515px) {
  #content {
    width: 54%;
  }
}
#content h1 {
  text-transform: uppercase;
  color: #151515;
  padding: 2rem 0 0;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 3rem;
}
#content h2 {
  font-size: inherit;
}
#content .box {
  background: #fff;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #E2E6E9;
}
#content .box .news {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 0.5rem;
}
#content .box .buffer {
  background: #fff repeat-x 0 0;
  border-width: 0 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding: 1.5rem;
}
#content .homelist {
  list-style-type: none;
  background-color: #fff;
  padding: 0.3rem 1.5rem 1.5rem;
}
#content li {
  clear: both;
  padding: 3rem 0;
  border-top: 1px solid #ccc;
  float: center;
  margin-right: 0.5rem;
  width: 100%;
  height: auto;
}
#content li .post__date {
  font-weight: 700;
}
#content li img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
@media (max-width: 890px) {
  #content li {
    margin-bottom: 1rem;
  }
  #content li .post__date {
    padding-left: 0;
  }
}
#content li .title {
  color: #151515;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
#content li .title:hover {
  text-decoration: underline;
}
#content li p {
  line-height: 1.3em;
  margin: 0.7rem 0 0.6rem;
}
#content .postnav {
  background-color: #fff;
  padding: 0.5rem 1rem 1rem;
  font-weight: bold;
}
#content .postnav a {
  text-decoration: none;
}
#content .content {
  padding: 1rem;
}
#content .content p {
  line-height: 1.4em;
  font-size: 1.6rem;
  margin: 0 0 1rem 1rem;
}
#content .content ul, #content .content ol {
  margin-bottom: 1rem;
}
#content .content ul {
  list-style: disc inside none;
}
#content .content ol {
  list-style: decimal inside none;
}
#content .content li {
  line-height: 1.4em;
  padding: 0.2rem 0;
}
#content .content img {
  width: 100%;
  height: 30rem;
  margin: 1rem 0 2rem;
}
#content .content blockqoute {
  padding: 1rem 1rem 0.5rem;
  background-color: #eeeeee;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e0e0e0;
  margin-bottom: 1rem;
}
#content .content h3, #content .content h4, #content .content h5, #content .content h6 {
  font-size: 1.4em;
  margin-bottom: 0.5rem;
}
#content h3 {
  text-transform: uppercase;
  color: #151515;
  padding: 2rem 0 0 1rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
  font-size: 1.4em;
}
#content .featured {
  padding: 0.5rem;
}

/** END content **/
/** BEGIN right sidebar **/
#rsidebar {
  width: 24%;
  float: right;
  padding: 0.5rem;
}
#rsidebar .box {
  background: #fff;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #E2E6E9;
}
#rsidebar .box .buffer {
  background: #fff repeat-x 0 0;
  border-width: 0 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding-bottom: 0.3rem;
}
#rsidebar .box h2 {
  text-align: center;
  font-weight: 700;
  font-size: inherit;
  padding: 0.6rem 0.7rem 1rem;
}
#rsidebar .box ul {
  list-style-type: none;
}
#rsidebar .box ul li {
  border-bottom: 1px solid #DDDDDD;
  padding: 5px;
  font-size: 1.2em;
}
#rsidebar .box ul li a {
  color: #808080;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
}
#rsidebar .box ul li a:hover {
  color: #151515;
}
#rsidebar .box .tags {
  padding: 1rem;
}
@media (max-width: 430px) {
  #rsidebar li a {
    line-height: 1;
  }
}

/** END right sidebar **/
@media (max-width: 750px) {
  #lsidebar .box ul li a,
#rsidebar .box ul li a {
    font-size: 0.7em;
  }

  #lsidebar h2,
#content h2,
#rsidebar h2 {
    font-size: 0.8em;
  }
}
@media (max-width: 550px) {
  #lsidebar .box ul li a,
#rsidebar .box ul li a {
    font-size: 0.5em;
  }

  #lsidebar h2,
#content h2,
#rsidebar h2 {
    font-size: 0.6em;
  }
}
@media (max-width: 415px) {
  #lsidebar {
    float: right;
    width: 29%;
    margin: 0;
    padding: 0.5rem;
  }

  #content {
    width: 70%;
    height: 100vh;
  }

  #rsidebar {
    width: 29%;
  }
}
.footer {
  position: absolute;
  width: 100%;
  padding: 1rem;
  z-index: 100;
  background-color: #151515;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__credits {
  display: flex;
  align-items: center;
}
@media (max-width: 1055px) {
  .footer__credits {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 885px) {
  .footer__credits {
    flex-direction: column;
  }
}
.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #fff;
  border-right: 1px solid fade(#fff, 35%);
}
@media (max-width: 885px) {
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 1rem;
    border-right: 0;
  }
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  margin-right: 1.2rem;
  text-decoration: none;
  transition: transform 0.2s linear;
}
.footer__social a:hover {
  transform: translateY(-5px);
}
@media (max-width: 1055px) {
  .footer__social a {
    margin: 0 0.5rem;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media (max-width: 1055px) {
  .footer__nav {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer__nav-link {
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}
.footer__nav-link:hover {
  background-color: #fff;
  color: #151515;
}
.footer__nav-link--btn {
  padding: 0.5rem 1.4rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  line-height: 1.1;
}
.footer__nav-link--btn:hover {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  color: #151515;
}
@media (max-width: 1055px) {
  .footer__nav-link {
    margin: 0 0.5rem 0.5rem;
  }
}

.form-module {
  position: relative;
  background: #fff;
  max-width: 320px;
  width: 100%;
  border-top: 0.5rem solid #151515;
  box-shadow: 0 0 3px rgba(21, 21, 21, 0.1);
  margin: 0 auto;
}
.form-module .form {
  display: block;
  padding: 2rem;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 2rem;
  color: #151515;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  font-weight: 400;
}
.form-module input:focus {
  border: 1px solid #151515;
  color: #484848;
}
.form-module button {
  cursor: pointer;
  background: #151515;
  width: 100%;
  border: 0;
  padding: 1rem 1.5rem;
  color: #fff;
}
.form-module button:hover {
  background: black;
}
.form-module .cta {
  background: #d9d9d9;
  width: 100%;
  padding: 1.5rem 4rem;
  box-sizing: border-box;
  color: #ccc;
  font-size: 1.2rem;
  text-align: center;
}
.form-module .cta a {
  text-decoration: underline;
  color: #484848;
  text-decoration: none;
}

.table a {
  text-decoration: none;
  color: #151515;
}
.table a:hover {
  color: #151515;
  cursor: pointer;
}

.img-uploaded {
  display: block;
  width: 30rem;
}
